<div class="main-wrapper">

	<!-- <h3>Spotify playlist tracks</h3> -->
	<div class="spotify-playlist-tracks">
		<button (click)="auth()">Authenticate</button>
		
		<button (click)="getPlaylists()">Get playlists</button>
		<button (click)="getUser()">Get user</button>
		
		<div class="track" *ngFor="let playlist of playlists" (click)="selectPlaylist(playlist)">
			<img src="{{playlist.image}}">

			<div class="name">
				<span class="title">{{playlist.name}}</span>
				<span>Total tracks: {{playlist.tracksAmount}}</span>
			</div>
		</div>
	</div>

	<div class="spotify-playlist-tracks">
		<div class="track" *ngFor="let track of tracks">
			<img src="{{track.image}}">

			<div class="name">
				<span class="title">{{track.name}}</span>
				<span class="artist">{{track.artist}}</span>
			</div>
		</div>
	</div>
</div>